Please enter your unique password reset token that was emailed to you.

<form action='/users/reset_password' method='POST'>
  Email: <input type='email' name='email'>
  Reset Token: <input type='text' name='password_token'>
  <input type='submit' value='Submit'>
</form>