Please pick a new password.

<form action='/users/set_new_password' method='POST'>
  Email: <input type='email' name='email'>
  Password: <input type='text' name='password'>
  Password Confirmation: <input type='text' name='password_confirmation'>
  <input type='submit' value='Submit'>
</form>